  .filtrosItems {
    line-height: 10px;
    font-size: 14px;
    font-weight: 100
  }

  .filtrosItems:hover {
    color: #913d47;
    font-weight: bold;
    cursor: pointer;
  }

.categoria {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  transition: opacity .8s ease-in-out;
}

.categoria i {
  /* border: 1px solid blue; */
  font-size: 28px;
  cursor: pointer;
  padding-right: 20px;
  padding-top:4px;
}

.categoria form li .filtrosItems{
  font-weight: 100
}

.title{
	background: rgba(151, 150, 149, 0.178);
	text-align: center;
	font-family: "Lato", "Roboto", sans-serif;
}